// colors
$darkGreen: #5c708d;
$green: #4d7997;
$lightGreen: #a7d7c5;
$veryLightGreen: #f4f6f9;
$darkGrey: #828282;
$blackGrey: #444444;
$white: #ffffff;
$lightGrey: #f2f2f2;
$black: #000000;
$grey: #dddddd;

// font family
$fontFamily: "Roboto", sans-serif;
$fontFamilyLogo: "Andada Pro", serif;
$lightFont: 600;
$heavyFont: 800;

// fonts
$logoFont: calc(1.25 * 31.42px);

// common styles
$boxShadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$fontSizeHeader: 14px;
$fontSizeLabel: 20px;
$fontSizeButton: 1.2em;
$fontWeightBold: bold;
$fontWeightRegular: 400;
$fontWeightLight: 300;
$marginButton: 0 5px;
$paddingButton: 5px 15px;
$paddingButtonTime: 3px 10px;
$paddingEventContent: 10px;
$borderRadius: 5px;
$borderNone: none;
$backgroundHeader: $darkGreen;
$textColor: $white;