@import './_variables';

.appointments-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: red;

        .add {
            padding: 4px 15px;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 400;

            background-color: $green;
            color: $white;
        }
    }
}

.calendar {
    width: 1400px !important;
    height: 820px;
}

.rbc-calendar {
    font-family: $fontFamily;
}

.rbc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .rbc-btn-group {
        display: flex;
        align-items: center;

        button {
            background: none;
            cursor: pointer;
            font-size: $fontSizeButton;
            padding: $paddingButton;
            margin: $marginButton;
            color: $green;

            &:hover {
                color: $darkGreen;
            }

            &.rbc-active {
                font-weight: $fontWeightBold;
                border-bottom: 2px solid $darkGreen;

                &:focus {
                    color: $darkGreen !important;
                }
            }
        }
    }

    .rbc-btn-group.time {
        button {
            padding: $paddingButtonTime;
            border: $borderNone;
        }
    }


    .rbc-toolbar-label {
        font-size: $fontSizeLabel;
        font-weight: $fontWeightBold;
        color: $blackGrey;
    }
}


.rbc-header {
    color: white;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px !important;
    background: #17405d;
}

.rbc-allday-cell {
    display: none;
}

.rbc-time-header-cell .rbc-today {
    background-color: $green !important;
}

.rbc-time-slot {
    color: #74a4c3;
    z-index: 1;
}

.rbc-event,
.rbc-background-event {
    z-index: 2;
    padding: 0px !important;
    border: $borderNone !important;
}

.rbc-event-label {
    display: none !important;
}

.rbc-events-container {
    width: 100% !important;

}

.rbc-day-slot .rbc-time-slot:after {
    content: "";
    width: 100%;
    border-top: 1px solid #7a79ca2a;
    display: block;
}

.rbc-timeslot-group {
    min-height: 100px !important;
}

.rbc-event-content {
    background-color: $white;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;

    div {
        padding: 10px;
        text-transform: none;

        p {
            margin-block-start: 0;
            margin-block-end: 10px;
            font-size: 14px;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $black;
        }
    }

    .MuiBox-root {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: $borderRadius;
        border-top: 5px solid $green;

        p {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.rbc-time-header-cell,
.rbc-header {
    min-height: 60px;

    .rbc-header {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $textColor;
        font-size: $fontSizeHeader;
        height: 36px !important;

        .rbc-button-link {
            span {
                font-size: 18px;
                font-weight: $fontWeightRegular;
                font-family: $fontFamily;
            }
        }
    }
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
    border: $borderNone;
    box-sizing: border-box;
    box-shadow: none;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: $borderRadius;
    color: $white;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.status-indicator {
    display: flex;
    align-items: center;
    margin-right: 10px;

    .circle-color {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
    }
}

.modal-container {
    position: fixed;
    width: 650px;
    top: 40px;
    right: 340px;
    transform: translateX(50%);

    .modal-content {
        padding: 16px;

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .actions {

                .modal-close-button {
                    color: #74a4c3;
                }

                .modal-edit-button {
                    color: #cd6d6d;
                    border: 1px solid #cd6d6d;
                    border-radius: 4px;
                    padding: 3px;
                    margin-right: 15px;

                    &:active {
                        border-radius: 4px;

                    }

                    &:hover {
                        border-radius: 4px;

                    }
                }
            }

        }

        .modal-body {
            margin-top: 25px;
            border: 2px solid rgba(0, 0, 0, 0.098);
            border-radius: 4px;
            padding: 16px;
            display: flex;
            justify-content: space-between;

            .title {
                margin-left: 20px;
            }
        }

        .appointment-info {
            margin-top: 25px;
            margin-bottom: 25px;
            display: flex;

            .info {
                margin-left: 15px;
            }
        }

        .general-info {
            margin-top: 25px;

            .patient-info {
                margin-top: 15px;

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-content: space-between;
            }

            .info {
                margin-top: 10px;
            }
        }
    }


}