@import "./_variables";

.contentNote {
  margin: 25px;
  //   height: 100%;
  background-color: $white;
  padding: 20px;

  .filters {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid $grey;

    .button {
      padding: 5px 15px;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 400;
    }

    .addNoteButton .button {
      background-color: $green;
      color: $white;
    }
  }

  .medicalNotesContainer {
    margin-top: 60px;
    display: flex;
    gap: 80px;

    img {
      width: 50px;
    }
  }

  .containerCards {
    margin-top: 60px;

    .cards {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 15px;

      .card {
        transition: transform 0.2s, box-shadow 0.2s;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          cursor: pointer;
        }
      }
    }
  }
}

.textField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: $green;
}

.textField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: $green;
}

.textField .MuiInputLabel-root.Mui-focused {
  color: $green;
}
